.modalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 50%;
    height: 200px;
    border-radius: 1rem;
    padding: 1rem;
    background: red;
  }
  
  .modalOverlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    min-width: 21rem;
    min-height: 12rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background: white;
  }
  
  .modalHeader {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
  }

  .close-modal-btn{
    cursor:pointer;
  }
  
  @media screen and (max-width: 768px) {
    .modalWrapper {
      min-width: 80%;
    }
  }
  